
@{
    ViewBag.Title = "Lista utilizatori:";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Data nasterii</th>
    <th>Actualizeaza rol</th>
    <th>Detalii</th>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.UsersList)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>@user.DateOfBirth</td>
                <td>@Html.ActionLink("Actualizeaza rol", "Edit", new { id = user.Id })</td>
                <td>@Html.ActionLink("Vezi detalii", "Details", new { id = user.Id })</td>
            </tr>
        }
    </tbody>
</table>

