@model Enciclopedie.Models.Article

@{
    ViewBag.Titlu = "Adaugare articol";
}

<h2>@ViewBag.Titlu</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Article"))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.Label("Title", "Titlu articol:")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })
    <br />
    <br />
    @Html.Label("Summary", "Rezumat articol:")
    <br />
    @Html.TextArea("Summary", null, new { @class = "my-summary" })
    <br />
    @Html.ValidationMessageFor(m => m.Summary, "", new { @class = "text-danger " })
    <br />
    <br />
    @Html.Label("Content", "Continut articol:")
    <br />
    @Html.TextArea("Content", null, new { @class = "my-content" })
    <br />
    @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger " })
    <br />
    <br />
    @Html.Hidden("Date", DateTime.Now, new { @class = "form-control" })
    @Html.Hidden("Available", true, new { @class = "form-control" })
    <label>Selectati categoria:</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    <br /><br />
    <button class="btn btn-success" type="submit">Adauga</button>
}

